.list-quality {
  &::before {
    display: block;
    content: '';
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $other-color;
    margin-bottom: 0;
  }
  }
  
.middle {
  padding-top: 60px;
}

.quality {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;
  margin-top: 30px;
  margin-bottom: 10px;
}

.quality-inside {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  }

@media screen and (min-width:320px) and (max-width: 767px) {
  .list-quality:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .list-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .list-quality {
    width: 354px;
 }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
   .list-quality:not(:nth-last-child(-n+2)){
    margin-bottom: 30px;
} 
}
@media screen and (min-width: 1200px) {
  .list-forms {
    display: flex;
   }
    .list-quality {
      width: 270px;
      max-height: 100%;
}
}

.icon-group::before {
  background-image: url(../images/quality/Group.svg);
}
.icon-clock::before {
  background-image: url(../images/quality/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/quality/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/quality/astronaut.svg);
}





